<div class="container">

      

      
  <div class="jumbotron"> 
   <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
    <h1>ChefTab Cloud</h1>
    <p class="lead">Your kitchen, revolutionised. Track and analyse your restaurant's data.</p>
    <p><a class="btn btn-lg btn-success" href="/users/register" role="button">Get started today</a><br>
    <small><a href="/users/login">Already a member? Login.</a></small></p>
  </div>


 </div>