<div class="container">

      

      
  <div class="jumbotron"> 

    <h1>ChefTab Cloud</h1>
    <p class="lead">Your kitchen, revolutionised. Track and analyse your restaurant's data.</p>
    <p><a class="btn btn-lg btn-success" href="/users/new" role="button">Get started today</a><br>
    <small><a href="/users/login">Already a member? Login.</a></small></p>
  </div>


 </div>