.container
  .jumbotron
    %h1 ChefTab Cloud
    %p.lead Your kitchen... revolutionized. Track and analyze your restaurant's data.
    %p
      %a.btn.btn-lg.btn-success{:href => "/users/sign_up", :role => "button"} Get started today
      %br/
      %small
        %a{:href => "/users/sign_in"} Already a member? Login.