
<div class="container">

      

      
  <div> 
  	<h3> New message from <%= @name %> </h3 >
  	<br>
  	<%= @message %> 
  	</div>

  	<br>
  	<span> Respond at <%= @email %> </span>


 </div>