<%= render layout: "pills" do %>

    

    
  <div class="alert alert-info">
    <p>This table shows a list of all Devices which have communicated with this restaurant. Devices are added to this list automatically when they access the API.</p>
  </div>

  
  <table id="raw-activities-table" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Device Id</th>
      </tr>
    </thead>
    <tbody>
      <% @ids.each do |d| %>
      <tr data-id="ag5zfmNoZWZ0YWItZGVtb3ITCxIGRGV2aWNlGICAgICM1oAKDA">
        <td><%= d %></td>
      </tr>
      <% end %>
      
    </tbody>
  </table>

<% end %>