<form id="test-add-form" action="/reports" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="input-name">URL</label>
          <input type="text" class="form-control" name="url" value="http://localhost:8080/reports/<user id>/<restaurant id>" readonly="">
        </div>
        <div class="form-group">
          <label>User id:</label>
          <input type="text" class="form-control" name="user_id" value="">
        </div>
        <div class="form-group">
          <label>Restaurant id:</label>
          <input type="text" class="form-control" name="restaurant_id" value="">
        </div>
        <div class="form-group">
          <label>Device id:</label>
          <input type="text" class="form-control" name="device_id" value="">
        </div>

        <div class="form-group">
          <label for="input-name">activities:</label>
          <textarea name="json" class="form-control" rows="5" cols="120">[
  {"when": "2015-01-08 01:42:46 UTC", "preptime": 5490},
  {"when": "2015-01-09 01:42:46 UTC", "preptime": 2344},
  {"when": "2015-01-08 01:42:46 UTC", "preptime": 2779}
]</textarea>
        </div>

        <button type="submit" class="btn btn-success btn-lg">Submit the Request</button>
      </form>