<%= render template: "layouts/primary" %>

<div id="wrap">
      <div class="container">

      

      
  <div class="row">

    <div class="span3">

      <div class="page-header">
        <h3>My Restaurants</h3>
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked">
        
        <li><a href="/restaurants/5629499534213120">Kevin's Southern Fried Chicken</a></li>
        
        <li><a href="/restaurants/add"><span class="glyphicon glyphicon-plus"></span> Add Restaurant</a></li>
      </ul>
      <br>

    </div>
    
    <hr class="hidden-lg hidden-md">

    <div class="span9">
    	<%= yeild %>


    </div>

  </div>


      </div>
    </div>